@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,600;1,700;1,900&display=swap');

/*Colors*/
$first-tittle: #003370;
$first-subtittle: #003370;

$second-tittle:#FF9E18;
$second-subtittle:#707070;

$text-form:#fff;
$background-form:#003370;
$third-tittle:#FF9E18;

$color-button:#FF9E18;

$color-navbar:#0F1D40;
$color-footer:#0F1D40;


/*fonts*/
$body-font:'Nunito', sans-serif;


/*image background*/
$img-background: url(img\banner_main.png);